<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Contenido protegido</title>
</head>
<body>
  <h1>Bienvenido a la zona protegida, <%= user.username %>!</h1>
  <a href="/">Volver al inicio</a>
</body>
</html>
